<nav class="navbar-default" id="mNavbar">
  {{!-- {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}} --}}
  <div class="row" style="width:100%;margin:auto;align-items:center; height:100%; max-width:1400px">
    <div class="blog-logo logo-toggle" id="mNavbar-logo">
      <a href="{{@blog.url}}" style="display:block">

      <svg width="241" height="26" xmlns="http://www.w3.org/2000/svg"><path d="M6.687 16.098v9.005H0V.355h8.11c6.726 0 10.09 2.438 10.09 7.313 0 2.866-1.4 5.084-4.199 6.652l7.212 10.783H13.63L8.38 16.098H6.687zm0-5.028H7.94c2.337 0 3.505-1.032 3.505-3.097 0-1.704-1.146-2.556-3.437-2.556h-1.32v5.653zm31.225 14.033V.355h6.722v24.748h-6.722zm37.54-19.619c-1.591 0-2.833.652-3.725 1.955-.891 1.304-1.337 3.1-1.337 5.392 0 4.762 1.811 7.143 5.434 7.143 1.095 0 2.156-.152 3.183-.457a31.847 31.847 0 0 0 3.099-1.1v5.653c-2.066.914-4.402 1.371-7.01 1.371-3.735 0-6.6-1.083-8.592-3.25-1.992-2.166-2.988-5.298-2.988-9.394 0-2.562.483-4.813 1.448-6.754.965-1.941 2.353-3.433 4.165-4.477C70.94.522 73.07 0 75.519 0c2.676 0 5.232.581 7.67 1.743l-2.048 5.265a23.035 23.035 0 0 0-2.743-1.084 9.587 9.587 0 0 0-2.946-.44zm64.281 19.613L147.807.203h8.949l8.122 24.894h-7.31l-5.266-20.73-5.22 20.73h-7.349zm-17.142.006h-6.721V15.014h-7.771v10.089h-6.721V.355h6.721V9.53h7.77V.355h6.722v24.748zm66.107-9.005v9.005h-6.688V.355h8.11c6.727 0 10.09 2.438 10.09 7.313 0 2.866-1.4 5.084-4.198 6.652l7.212 10.783h-7.585l-5.248-9.005h-1.693zm0-5.028h1.253c2.336 0 3.504-1.032 3.504-3.097 0-1.704-1.145-2.556-3.437-2.556h-1.32v5.653zm52.235 1.134c0 4.13-1.137 7.313-3.411 9.547-2.275 2.235-5.472 3.352-9.591 3.352h-8.008V.355h8.566c3.973 0 7.04 1.016 9.202 3.047 2.161 2.032 3.242 4.966 3.242 8.802zm-6.941.237c0-2.268-.449-3.95-1.346-5.044-.898-1.094-2.26-1.642-4.089-1.642h-1.947v13.863h1.49c2.032 0 3.521-.59 4.47-1.768.948-1.18 1.422-2.982 1.422-5.409z" id="logo-fill" class="fill-toggle" fill="#1F1F1F" fill-rule="evenodd"/>
      </svg>
      </a>
    </div>
    {{#if @blog.navigation}}
      {{!-- desktop nav --}}
      <div style="flex:4; display:flex;"></div>
      <div class="hidden-xs desktop-menu">
        <a class="nav-text nav-text-fx" href="{{@blog.url}}#content" data-letters="WORK">WORK</a>
        <a class="nav-text nav-text-fx" href="{{@blog.url}}#about" data-letters="ABOUT">ABOUT</a>
        <div id="website">
          <a target="_blank" href="{{@blog.url}}#contact" style="margin-top:0px;" class="btn-rtc-container btn-rtc">
            CONTACT
            <svg width="34" height="15" viewBox="0 0 58 27" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path class="arrow-path rt-arrow" d="M2.732 11.756h47.71l-7.72-7.778c-.678-.68-.678-1.786 0-2.467.675-.68 1.772-.68 2.447 0l10.676 10.757c.676.68.676 1.785 0 2.466L45.17 25.49c-.34.34-.782.51-1.225.51-.443 0-.886-.17-1.224-.51-.676-.682-.676-1.787 0-2.467l7.72-7.78H2.733C1.775 15.244 1 14.464 1 13.5c0-.963.775-1.744 1.732-1.744z" stroke="#FFF" fill-rule="nonzero" stroke-width="2" fill="#1F1F1F"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="visible-xs">
        <div class="toggle-button" id="toggle">
          <span class="bar top"></span>
          <span class="bar middle"></span>
          <span class="bar bottom"></span>
        </div>
      </div>
    {{/if}}
  </div>
  {{!-- mobile nav --}}
  <nav class="overlay" id="overlay">
    <ul>
      <li><a class="nav-text nav-text-lg-fx nav-lg-toggle" href="{{@blog.url}}#content" data-letters='WORK' href="#">WORK</a></li>
      <li><a class="nav-text nav-text-lg-fx nav-lg-toggle" href="{{@blog.url}}#about" data-letters='ABOUT' href="#">ABOUT</a></li>
      <li><a class="nav-text nav-text-lg-fx nav-lg-toggle" href="{{@blog.url}}#contact" data-letters='CONTACT' href="#">CONTACT</a></li>
    </ul>
  </nav>
</nav>
