{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<header class="wrapper-hero {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
  <img src="{{asset "/images/devices_tan.png"}}" class="devices-img" alt="Responsive image">
  <div class="vert-align">
    <div class="wrapper-hero-text">
      <h1 class="page-title">{{@blog.title}}</h1>
      <h2 class="page-description">{{@blog.description}}</h2>
      <h2 class='hello-text'> Hello. </h2>
      <h3 class='hello-sub-text'> My name is Richard Morales. I am a Product Designer
        and Developer located in Austin Texas. —Take a look around and contact me if
        you would like to work together.
      </h3>
    </div>
  </div>
</header>


{{! The main content area on the homepage }}
<main id="content" class="content wrapper-work" role="main">
  <div class="container-fluid" style="padding:0px">
    <div class="row  wrapper-desc">
      <hr class="dash">
      <h2 style="color:#323852" class=" section-titles no-padding">WORK.</h2>
      <div class="col-md-12 no-padding">
        <p style="text-align:left; margin-bottom:0px; max-width:50rem" class=" section-desc no-padding">
          I can honestly say I love what I do. Here are a few companies I have created amazing work with.
          <br><span style="color:#3590E9; font-size:1rem; cursor:pointer">Curious about my other work?</span>
        </p>
      </div>
    </div>
    {{> "loop"}}
  </div>
</main>

<div class="container-fluid container-about">
  <div class="wrapper-about ">
    <div class="row wrapper-desc">
      <hr style="color:#ece3d8" class="dash">
      <h2 style="color:#ece3d8" class=" section-titles no-padding">ABOUT.</h2>
      <div class="col-md-12 no-padding">
        <p style="text-align:left; margin-bottom:0px; max-width:50rem; color:#ece3d8" class=" section-desc no-padding">
          I’m a big believer in culture fit, it really helps us both to deliver our best work. Here are a few things I enjoy doing with my spare time.
        </p>
      </div>
    </div>
    <div>
      <div class="slick-slider js-slick" style="padding-left:4rem">
        <div style="background-image:url({{asset "/images/Aloha_Maui.jpg"}}); background-size:cover" class="photo"> </div>
        <div style="background-image:url({{asset "/images/Startup_Crawl.jpg"}});" class="photo"></div>
        <div style="background-image:url({{asset "/images/princess.jpg"}});" class="photo"></div>
        <div style="background-image:url({{asset "/images/guitar_2017.jpg"}});" class="photo"></div>
        <div style="background-image:url({{asset "/images/codingAustin.jpg"}});" class="photo"></div>
      </div>
    </div>
    <div class="row-md-12">
      <button type="button" class="slick-prev col-md-6">Previous</button>
      <button type="button" class="slick-next col-md-6">Next</button>
    </div>
  </div>
</div>


<div class="container-fluid container-contact">
  <div class="wrapper-about ">
    <div class="row wrapper-desc" style="margin-bottom:0px">
      <hr style="color:#323852" class="dash">
      <h2 style="color:#323852" class=" section-titles no-padding">CONTACT.</h2>
      <div class="row form-wrapper" style="padding:1rem">
        <div class="col-md-4 col-xs-12 no-padding" style="margin-bottom:7rem">
          <p style="text-align:left; margin-bottom:0px; max-width:40rem; color:#323852; padding-right:1rem" class=" section-desc no-padding">
            Let's create something purposeful together. Drop me a few lines.
          </p>
        </div>
        <div class="contact-form col-md-8 col-xs-12" style="padding:0 2rem">
          <form action="//formspree.io/moralesrichard@live.com" method="POST">
            <input type="text" name="_gotcha" style="display:none" />

            <div class="row" style="margin:0px">
              <div class="form-item col-xs-12 col-sm-6">
                <input type="text" name="First Name" style="max-width:40rem; height:100%" placeholder="First Name">
              </div>
              <div class="form-item col-xs-12 col-sm-6">
                <input type="text" name="Last Name" style="max-width:40rem; height:100%" placeholder="Last Name" />
              </div>
            </div>

            <div class="row" style="margin:0px">
              <div class="form-item col-xs-12 col-sm-6">
                <input type="text" name="_replyto" style="max-width:40rem; height:100%" placeholder="Email Address">
              </div>
              <div class="form-item col-xs-12 col-sm-6">
                <input type="text" name="Company Name" style="max-width:40rem; height:100%" placeholder="Company Name" />
              </div>
            </div>

            <div class="row" style="margin:0px">
              <div class="form-item col-xs-12">
                <textarea style="max-width:50rem;" placeholder="Breif description of the project" name="Description" cols="40" rows="6"></textarea>
              </div>
            </div>

            {{!-- <div class="form-action">
              <input class="sendButton" type="submit" value="Send">
            </div> --}}
            <div class="row" style="margin:0px">
              <div style="padding-left:1rem;" class="form-btn" id="website">
                <button type="submit" value="Send" class="btn-rtc-container btn-rtc">
                  SUBMIT
                  <svg width="34" height="15" viewBox="0 0 58 27" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path class="arrow-path" d="M2.732 11.756h47.71l-7.72-7.778c-.678-.68-.678-1.786 0-2.467.675-.68 1.772-.68 2.447 0l10.676 10.757c.676.68.676 1.785 0 2.466L45.17 25.49c-.34.34-.782.51-1.225.51-.443 0-.886-.17-1.224-.51-.676-.682-.676-1.787 0-2.467l7.72-7.78H2.733C1.775 15.244 1 14.464 1 13.5c0-.963.775-1.744 1.732-1.744z" stroke="#FFF" fill-rule="nonzero" stroke-width="2" fill="#1F1F1F"/>
                  </svg>
                </button>
              </div>
            </div>

            <input type="hidden" name="_subject" value="Portfolio hit" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- <section class="container-contact">
  <div class="vertical-Card">
    <div class="wrapper-contact container">
      <div class="row">
        <div class="col-md-6 work-text-container">
          <h2 class="work-text">LETS <br><span class="inspo"></span></h2>
        </div>
        <div class="col-md-6 infoCardContainer">
          <div class="infoCardWrapper">
            <div class="infoCardContent">
              <img class="RTC img-responsive" src="{{asset "/images/richTheCreator.png"}}" alt="Responsive image">
              <h3>I'm always game for a good challenge.</h3>
              <div class=" contact-form row">
                <form action="//formspree.io/designgents@gmail.com" method="POST">
                  <input type="text" name="_gotcha" style="display:none" />

                  <div class="form-item">
                    <input type="text" name="name" placeholder="Your name">
                  </div>
                  <div class="form-item">
                    <input type="text" name="_replyto" placeholder="Your email" />
                  </div>
                  <div class="form-item">
                    <input type="text" name="name" placeholder="Your message">
                  </div>
                  <div class="form-action">
                    <input class="sendButton" type="submit" value="Send">
                  </div>
                  <input type="hidden" name="_subject" value="Hard Work Pays off!" />
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section> --}}
